<div class="hero-unit">
	<h1>About VCDrive</h1>
	<p>
		<%= link_to "VCDrive", "http://onemonthrails.com" %>
		is a company that provides you the tools you need to take the next step.
	</p>
	<p>
		Follow us to the edge. Are you ready to take the  
		<%= link_to "leap", "http://rubyonrails.org" %>
		...?
	</p>
</div>