<h1>Courses</h1>
<p>
	<%= link_to "VCDrive Courses", "http://onemonthrails.com" %>
	are the resources you need to make the next step toward
	<%= link_to "success", "http://rubyonrails.org" %>
	. This is where your journey begins!
</p>