<% if user_signed_in? %>

	<div class="hero-unit">
		<h1><font color="green">VC</font>Drive</h1>
		<h2>- Members Page -</h2>
		<p>
			Now you've taken the first step and you're on the road to your dream. Keep walking...
		<p/>
		<p>
			<%= link_to "Start Now", new_user_registration_path, class: "btn btn-success btn-large"%>
		<p/>
	</div>
	<div class="hero-unit">
		<h3>The First Hole</h3>
		<p>
			You've got an idea, it's a good one. 437 yards and you're aiming right at that pin. What is going through your mind? I wonder how you're going to handle the headwind? Should you club up? Can you even make this shot? You've never played this course before, you've never seen this hole before, but you know you can hit this shot from years of experience. So what are you going to do...? 
		</p>
		<p>
		</p>
		<p>
			Now is the time. You have to trust your training and trust your swing and aim visualize the shot...
		</p>
		<p>
			You can't do any of this if you're missing a few key pieces:
		</p>
		<p>
			1) The training: have you really done this before? Do you know how to handle the environment? the conditions? the pressure? the odds?
		</p>
		<p>
			2) The right clubs: have you got the ride hardware? the right resources? the right swing?
		</p>
		<p>
			3) The drive: do you really have what it takes to compete at this level? How are you going to cross the chasm and play with the big boys? You've seen it done on TV, but how are you, YOU, going to do it?
		<p/>
		<p>
			<%= link_to "Hole Two", root_path, class: "btn btn-info"%>
		<p/>
	</div>

<% else %>
	
	<div class="hero-unit">
		<h1>Welcome to VCDrive</h1>
		<p>
			You've got the idea, we've got the strategy. Take our advice, you 
			<strong>are</strong> 
			ready! Join the new market and create something
			<%= link_to "inspiring", "http://onemonthrails.com" %>
			...
		<p/>
		<p>
			<%= link_to "Start Now", new_user_registration_path, class: "btn btn-success btn-large"%>
		<p/>
	</div>

<% end %>