<div class="hero-unit">
	<h1>Welcome to VCDrive</h1>
	<p>
		You've got the idea, we've got the strategy. Take our advice, you are ready! Join the new market and 
		<%= link_to "create something", "http://onemonthrails.com" %> inspiring...
	<p/>
	<p>
		<%= link_to "Learn More", "#", class: "btn btn-success btn-large"%>
	<p/>
</div>